<launch>

   <node
     name="dynamixel_manager"
     pkg="dynamixel_controllers"
     type="controller_manager.py"
     output="screen">
 
     <rosparam>
       namespace: dxl_manager
       serial_ports:
         pan_tilt_port:
           port_name: "/dev/ttyUSB0"
           baud_rate: 1000000
           min_motor_id: 1
           max_motor_id: 2
           update_rate: 60
     </rosparam>

   </node>

   <rosparam
      file="$(find tilting_lidar_clean)/launch/dynamixel_servos_tilting.yaml"
      command="load"
    />

  <node
    name="dynamixel_controller_spawner"
    pkg="dynamixel_controllers"
    type="controller_spawner.py"
    args="--manager=dxl_manager
          --port=pan_tilt_port
          --type=simple
          tilt_controller"
    output="screen"
   />

  <node
    name="tilt_motor"    
    pkg="tilting_lidar_clean"
    type="tilt_motor"
    output="screen"
   />

  <node
    name="tilt_transform"
    pkg="tilting_lidar_clean"
    type="tilt_transform"
    output="screen"
  />

 <node
    pkg="hokuyo_node"
    type="hokuyo_node"
    name="hokuyo"
    output="screen"
  />

  <node
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find tilting_lidar_clean)/rviz_cfg/tilting_lidar.rviz"/>
   />

  <node
    pkg="scan_to_pcl"
    type="scan_to_pcl"
    name="scan_to_pcl"
   />

</launch>
