<launch>

<param name="use_sim_time" value="true" />

<!--
   <node
     name="dynamixel_manager"
     pkg="dynamixel_controllers"
     type="controller_manager.py"
     output="screen">
 
     <rosparam>
       namespace: dxl_manager
       serial_ports:
         pan_tilt_port:
           port_name: "/dev/ttyUSB0"
           baud_rate: 1000000
           min_motor_id: 1
           max_motor_id: 2
           update_rate: 60
     </rosparam>

   </node>

   <rosparam
      file="$(find tilting_lidar_clean)/launch/dynamixel_servos_tilting.yaml"
      command="load"
    />

  <node
    name="dynamixel_controller_spawner"
    pkg="dynamixel_controllers"
    type="controller_spawner.py"
    args="manager=dxl_manager
          port=pan_tilt_port
          type=simple
          tilt_controller"
    output="screen"
   />

  <node
    name="tilt_motor"    
    pkg="tilting_lidar_clean"
    type="tilt_motor"
    output="screen"
   />

  <node
    name="tilt_transform"
    pkg="tilting_lidar_clean"
    type="tilt_transform"
    output="screen"
  />

 <node
    pkg="hokuyo_node"
    type="hokuyo_node"
    name="hokuyo"
    output="screen">

    <rosparam>
      min_ang: -2.0071
      max_ang: 2.0071
    </rosparam>
  </node>

-->

<node
   pkg="tilting_lidar_clean"
   type="hokuyo_filter"
   name="hokuyo_filter"
   output="screen"
/>



  <node
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find tilting_lidar_clean)/rviz_cfg/combined_octomap.rviz"/>
   />

  <node pkg="tf" type="static_transform_publisher" name="servo_to_velodyne"
            args="0.35 0 -0.13 0 0 -0.052 /velodyne /servo 10" />


  <node
    pkg="scan_to_pcl"
    type="scan_to_pcl"
    name="scan_to_pcl"
   />


  
    <node 
        name="relay_hokuyo" pkg="topic_tools" type="relay"
        args="/hokuyo_points /hokuyo_velodyne_combined_cloud"
    />

    <node 
        name="relay_velodyne" pkg="topic_tools" type="relay"
        args="/velodyne_cloud_registered /hokuyo_velodyne_combined_cloud"
    />

<!-- 
    <node type="point_cloud2_assembler" pkg="laser_assembler"
        name="my_assembler">
    <remap from="cloud" to="hokuyo_velodyne_combined_cloud"/>
    <param name="max_clouds" type="int" value="10000" />
    <param name="fixed_frame" type="string" value="map" />
  </node>


   <node
     pkg="tilting_lidar_clean"
     type="combine_clouds"
     name="combine_clouds"
     output="screen"
    />
-->
 
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
         <param name="resolution" value="0.01" />
         <param name="frame_id" type="string" value="map" />
         <param name="sensor_model/max_range" value="300.0" />
         <remap from="cloud_in" to="/hokuyo_velodyne_combined_cloud" />
    </node>

    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
      <remap from="~input" to="/hokuyo_velodyne_combined_cloud" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: -10000
        filter_limit_max: 10000
        filter_limit_negative: False
        leaf_size: 0.2
      </rosparam>
    </node>

    <arg name="other" default=""/>
    <arg name="path"/>
    <arg name="topics" default="--topics /velodyne_cloud_registered /scan /tf /time/start_time /time/end_time"/>
    <arg name="speed" default="1"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg path) -r $(arg speed) $(arg topics) --clock $(arg other)" />

</launch>
