<!-- This file executes a simple launch of the Dynamixel servo that allows the operator to manually input values for the
servo to rotate to.  The Hokuyo IS NOT part of this launch. -->

<launch>

   <node
     name="dynamixel_manager"
     pkg="dynamixel_controllers"
     type="controller_manager.py"
     output="screen">
 
     <rosparam>
       namespace: dxl_manager
       serial_ports:
         pan_tilt_port:
           port_name: "/dev/ttyUSB0"
           baud_rate: 1000000
           min_motor_id: 1
           max_motor_id: 2
           update_rate: 20
     </rosparam>

   </node>

   <rosparam
      file="$(find spin_hokuyo)/tutorials/launch/dynamixel_servos.yaml"
      command="load"
    />

  <node
    name="dynamixel_controller_spawner"
    pkg="dynamixel_controllers"
    type="controller_spawner.py"
    args="--manager=dxl_manager
          --port=pan_tilt_port
          --type=simple
          tilt_controller"
    output="screen"
   />

  <node
    name="commander"
    pkg="spin_hokuyo"
    type="commander"
    output="screen"
   />

</launch>
